option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: EB_CREATE_VOLUME
    value: /var/app/json

commands:
  create_json_dir:
    command: mkdir -p /var/app/json
    ignoreErrors: true

container_commands:
  mount_json_volume:
    command: |
      sed -i '/docker run -d/ s#$# -v /var/app/json:/app/json#' /opt/elasticbeanstalk/hooks/appdeploy/enact/00run.sh
